@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form method="post">
        <table>
            <tr>
                <td>
                    <p>Username:</p>
                </td>
                <td>
                    <input type="text" name="username" placeholder="Username" required/>
                </td>
            <tr>
                <td>
                    <p>Password:</p>
                </td>
                <td>
                    <input type="password" name="password" placeholder="Password" required />
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="button" name="login_btn" value="LOGIN" onclick="location.href='@Url.Action("Upgrade", "Home")'"/>
                </td>
            </tr>
        </table>
    </form>
</div>
